{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dore jQuery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'font/iconsmind/style.css' %}" />
    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-float-label.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body class="background show-spinner">
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dore.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>