{% extends 'layouts/admin/main.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
        <div class="row  ">
            <div class="col-12">

                <h1>Dashboard</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>


            </div>
        </div>

        <div class="row" id="incoming_container">


            
        </div>

</div>
    <script>
    localStorage.tab = 1;
        </script>
{% endblock %}